# Аналитика продаж.
---
У нас есть данные о продажах магазина на платформе WB, нам необходимо расчитать метрики по показателям и составить дашборд для деомонстрации показателей.

- Метрики:
    - Выручка
	- Прибыль
	- Рентабельность
	- АКБ
	- Средний чек
	- Затраты на логистику

Информация о данных:

У нас есть база данных составленная в Excel формате и содержащая несколько листов:
- Продажи (Содержит информацию о продажах магазина на WB)
- СПР_стоимость_доставки (Содержит инфомацию о ценах доставки для продуктов)
- СПР_даты_заказа (даты заказов продуктов на WB)
- СПР_продукты (Содержит список продуктов магазина)
- СПР_покупатели (Содержит информацию о совершавших заказы)


СОДЕРЖАНИЕ:
1. [Импортируем необходимые библиотеки](##импортируем-необходимые-библиотеки)
2. [Подключаемся к базе данных](##подключаемся-к-базе-данных)
    - [Общая информация о данных](###общая_информация_о_данных)
3. [Предобработка данных](##предобработка-данных)
4. [Сохраняем преобразованную таблицу](##Сохраняем-таблицу)
5. [Ссылка на дашборд](##дашборд)
---

## Импортируем необходимые библиотеки

In [11]:
# для работы с таблицей нам понадобится только одна библиотека
import pandas as pd

## Подключаемся к базе данных

In [12]:
# Загрузим каждый лист из базы данных 
data_prod = pd.read_excel(r"C:\Users\0_0\OneDrive\Рабочий стол\База данных (1).xlsx", sheet_name='Продажи')
data_dost = pd.read_excel(r"C:\Users\0_0\OneDrive\Рабочий стол\База данных (1).xlsx", sheet_name='СПР_стоимость_доставки')
data_date = pd.read_excel(r"C:\Users\0_0\OneDrive\Рабочий стол\База данных (1).xlsx", sheet_name='СПР_даты_заказа')
data_product = pd.read_excel(r"C:\Users\0_0\OneDrive\Рабочий стол\База данных (1).xlsx", sheet_name='СПР_продукты')
data_buyer = pd.read_excel(r"C:\Users\0_0\OneDrive\Рабочий стол\База данных (1).xlsx", sheet_name='СПР_покупатели')

### Общая информация о данных

Выведем информацию о каждой таблице.

In [13]:
# Создаем функцию для вывода общей информации о таблице
def info(data):
	display(data.info()) # общая информация о столбцах
	print(f'Общая длина строк в датафрейме = {len(data)}') # длинна таблицы
	display(pd.DataFrame(data.isna().sum()).style.background_gradient('Greens')) # пропуски в столбцах
	display(data.head())

#### Таблица продаж

In [14]:
# общая информация о таблице продаж
info(data_prod)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Order_ID           730 non-null    int64
 1   Приоритет          730 non-null    object
 2   Количество         730 non-null    int64
 3   Выручка            730 non-null    object
 4   Метод доставки     730 non-null    object
 5   Прибыль            730 non-null    object
 6   Покупатель         730 non-null    object
 7   Регион             730 non-null    object
 8   Продукт            730 non-null    object
 9   Упаковка продукта  730 non-null    object
dtypes: int64(2), object(8)
memory usage: 57.2+ KB

None

Общая длина строк в датафрейме = 730

,Order_ID,Приоритет,Количество,Выручка,Метод доставки,Прибыль,Покупатель,Регион,Продукт,Упаковка продукта
0,643,High,21,2 781.82,Express Air,-695.26,Monica Federle,Nunavut,"SAFCO Commercial Wire Shelving, Black",Large Box
1,8995,High,35,3 389.93,Express Air,737.94,Beth Paige,Northwest Territories,Luxo Professional Combination Clamp-On Lamps,Large Box
2,9127,Not Specified,7,2 039.56,Express Air,-329.49,Bryan Davis,Northwest Territories,"Tennsco Snap-Together Open Shelving Units, Sta...",Large Box
3,26272,Low,6,905.94,Express Air,-4.19,Carlos Daly,Northwest Territories,Hon Olson Stacker Stools,Large Box
4,36646,Medium,24,1 168.15,Express Air,-743.96,Muhammed MacIntyre,Northwest Territories,Tennsco Industrial Shelving,Large Box

#### Таблица стоимости доставки

In [15]:
# таблица стоимости доставки
info(data_dost)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Метод доставки      2 non-null      object
 1   Стоимость доставки  2 non-null      int64
dtypes: int64(1), object(1)
memory usage: 164.0+ bytes

None

Общая длина строк в датафрейме = 2

  Метод доставки  Стоимость доставки
0    Express Air                  10
1    Regular Air                   5

#### Таблица с датами заказов

In [16]:
# таблица с датами 
info(data_date)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 0 to 570
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Order_ID  571 non-null    int64
 1   Дата      571 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(1)
memory usage: 9.1 KB

None

Общая длина строк в датафрейме = 571

   Order_ID       Дата
0        35 2022-01-01
1       293 2022-01-01
2       322 2022-01-01
3       450 2022-01-01
4       483 2022-01-01

#### Таблица с продуктами магазина

In [17]:
# таблица с продуктами
info(data_product)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445 entries, 0 to 444
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Категория продукта     445 non-null    object
 1   Подкатегория продукта  445 non-null    object
 2   Продукт                445 non-null    object
dtypes: object(3)
memory usage: 10.6+ KB

None

Общая длина строк в датафрейме = 445

,Категория продукта,Подкатегория продукта,Продукт
0,Office Supplies,Storage & Organization,"SAFCO Commercial Wire Shelving, Black"
1,Furniture,Office Furnishings,Luxo Professional Combination Clamp-On Lamps
2,Office Supplies,Storage & Organization,"Tennsco Snap-Together Open Shelving Units, Sta..."
3,Furniture,Chairs & Chairmats,Hon Olson Stacker Stools
4,Office Supplies,Storage & Organization,Tennsco Industrial Shelving

#### Таблица с покупателями

In [18]:
# таблица с покупкателями
info(data_buyer)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Покупатель          192 non-null    object
 1   Сегмент покупателя  192 non-null    object
dtypes: object(2)
memory usage: 3.1+ KB

None

Общая длина строк в датафрейме = 192

           Покупатель Сегмент покупателя
0      Monica Federle          Corporate
1          Beth Paige           Consumer
2         Bryan Davis          Corporate
3         Carlos Daly        Home Office
4  Muhammed MacIntyre     Small Business

## Предобработка данных

Исправим ошибки, удалим пропуски, подготовим данные к работе.

Из прошлого раздела мы нашли ошибки только в таблице продаж с неправильными типами данных для числовых значений выручки и прибыли, исправим их.

In [19]:
# Удаляем лишние разделители и пробелы, и приводим значения к типу float
data_prod['Выручка'] = data_prod['Выручка'].str.replace(
	'\xa0', '', regex=False).str.replace(' ', '', regex=False).astype(float) 

data_prod['Прибыль'] = data_prod['Прибыль'].str.replace(
	'\xa0', '', regex=False).str.replace(' ', '', regex=False).astype(float)
data_prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Order_ID           730 non-null    int64
 1   Приоритет          730 non-null    object
 2   Количество         730 non-null    int64
 3   Выручка            730 non-null    float64
 4   Метод доставки     730 non-null    object
 5   Прибыль            730 non-null    float64
 6   Покупатель         730 non-null    object
 7   Регион             730 non-null    object
 8   Продукт            730 non-null    object
 9   Упаковка продукта  730 non-null    object
dtypes: float64(2), int64(2), object(6)
memory usage: 57.2+ KB

Мы исправили неправильную типизацию, проупсков в данных не найденно, теперь можно переходить к созданию новой таблицы.

## Сохраняем таблицу

Сохраняем исправленные таблицы в базу данных Excel для будущей работы в Tableau.

In [ ]:
# Имя файла для сохранения
output_file = 'предобработанная_БД.xlsx'

# Используем ExcelWriter для записи в один файл с несколькими листами
#with pd.ExcelWriter(output_file, engine='openpyxl') as writer:
	#data_prod.to_excel(writer, sheet_name='Продажи', index=False)
	#data_dost.to_excel(writer, sheet_name='Стоимость доставки', index=False)
	#data_date.to_excel(writer, sheet_name='Даты', index=False)
	#data_product.to_excel(writer, sheet_name='Продукты', index=False)
	#data_buyer.to_excel(writer, sheet_name='Покупатели', index=False)

Фаил успешно сохранен, далее работа будет проводится в Tableau.

## Ссылка на дашборд: 

https://public.tableau.com/app/profile/samur.yusupov/viz/_17367029792670/sheet11?publish=yes